<h2> <%= @exercise[:name] %> </h2>
<table data-row-id="<%= @exercise[:id] %>">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr id="id">
            <th>ID</th>
            <td>
                <input readonly type=text value="<%= @exercise[:id] %>">
            </td>
        </tr>
        <tr id="name">
            <th>Name</th>
            <td>
                <input type=text name="name" value="<%= @exercise[:name] %>">
                <button data-input-name="name">Update</button>
            </td>
        </tr>
    </tbody>
</table>