<h2> <%= @exercise[:name] %> </h2>
 
<form method="post" action="<%= "/exercises/#{@exercise[:name]}" %>">
    <input type="hidden" name="id" value="<%= @exercise[:id] %>">
    <label for="name"> Name </label>
    <input id="name" name="name" value="<%= @exercise.name %>">
    <input type="submit" value="Submit Changes">
</form>
